.barra {
    width: 100%;
    background: #5c5555;
    color: white;
    padding: 20px 30px;
    box-sizing: border-box;
    /* IMPORTANTE */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}

.titulo {
    margin: 0;
    font-size: px;
    font-weight: 900;
}

.descripcion {
    margin: 8px 0 0 0;
    font-size: 16px;
    color: #cccccc;
}

body {
    background-image: url("img/fondo.jpg");
    background-size: cover;
    /* que cubra toda la pantalla */
    background-repeat: no-repeat;
    /* que no se repita */
    background-attachment: fixed;
    /* que quede fija al hacer scroll */
    background-position: center;
    /* centrada */
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

/* ---------- FOOTER ---------- */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    /* Fondo degradado oscuro + transparencia */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(30, 30, 30, 0.65));
    backdrop-filter: blur(12px); /* 🔥 efecto vidrio */
    -webkit-backdrop-filter: blur(12px); /* para Safari */

    color: #fff;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;

    /* Borde luminoso elegante */
    border-top: 1px solid rgba(255, 255, 255, 0.12);

    z-index: 100;
}


.footer-info h3 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
}

.footer-info p {
    margin: 2px 0;
    color: #ccc;
}

.footer-redes {
    display: flex;
    gap: 8px;
}

.icon {
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;

    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.05); /* transparente */
    backdrop-filter: blur(4px);
    transition: 0.3s ease;
}

.icon:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-3px);
}


.icon:hover {
    background: #444;
}

/* Colores personalizados por red */
.github { background: #24292e; }
.github:hover { background: #3b4046; }

.insta { background: #c13584; }
.insta:hover { background: #e1306c; }

.tiktok { background: #010101; border-color: #fe2c55; }
.tiktok:hover { background: #fe2c55; }

/* Hace que el contenido ocupe toda la pantalla */
html, body {
    height: 100%;
}

/* Hace que el body empuje el footer hacia abajo */
body {
    display: flex;
    flex-direction: column;
}

/* Contenido principal ocupa el espacio */
main {
    flex: 1;
    padding-bottom: 140px;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-top: 1px solid #333;
}
