/* ========== HEADER ========== */
.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    /* Fondo negro con transparencia */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}

.header-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-info {
    text-align: left;
}

.name {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
}

.role {
    font-size: 15px;
    font-weight: 300;
    color: #ecf0f1;
}

.header-profile .profile-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.descripcion {
    margin: 8px 0 0 0;
    font-size: 16px;
    color: #cccccc;
}

/* ========== BODY & FONDO ========== */
body {
    background: url("img/fondo.jpg") no-repeat center center fixed;
    background-size: cover;
    
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro con opacidad */
    z-index: -1;
}

/* Hace que el contenido ocupe toda la pantalla y empuje el footer hacia abajo */
main {
    flex: 1;
    padding-bottom: 140px;
}

/* ========== FOOTER ========== */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(30, 30, 30, 0.65));
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    
    z-index: 100;}

.footer-info h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

.footer-info p {
    margin: 2px 0;
    color: #ccc;
}

.footer-redes {
    display: flex;
    gap: 5px;
}

.icon {
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;

    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    transition: 0.3s ease;
}

.icon:hover { background: rgba(255, 255, 255, 0.15);transform: translateY(-3px);}

/* Colores personalizados por red */
.github {
    background: #24292e;
}

.github:hover {
    background: #3b4046;
}

.insta {
    background: #c13584;
}

.insta:hover {
    background: #e1306c;
}

.tiktok {
    background: #010101;
    border-color: #fe2c55;
}

.tiktok:hover {
    background: #fe2c55;}